<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Colegio Primavera / Gestión de Alumnos</title>

</head>
<body>
    <main class="container">
        <section class="row" aria-labelledby="gestion de Alumnos">
            <h1 id="organizadorAlumnos">Organizador Alumnos</h1>
            <p class="lead">Editar registros de alumnos</p>
        </section>

        <div class="row">
            <section>
                <form id="alumnoForm">
                    <div class="form-group">
                        <label for="idAlumno">ID Alumno</label>
                        <input type="number" class="form-control" id="idAlumno" name="idAlumno" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" maxlength="45" required>
                    </div>
                    <div class="form-group">
                        <label for="nacimiento">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="nacimiento" name="nacimiento" required>
                    </div>
                    <button type="submit" class="btn_registrar">Registrar</button>
                    <button type="submit" class="btn_actualizar">Actualizar</button>
                    <button type="submit" class="btn_eliminar">Eliminar</button>
                </form>
            </section>
        </div>
    </main>
</body>
</html>